:root{
	--main: #A5232C ;
	--darkblue: #A5232C;
	--black: #060606;
	--white: #e7dff4;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}



header{
	padding: 20px 0px;
	box-shadow: 2px 2px 15px var(--black);
}

.container{
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;
}

.header-container{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.logo{
	font-weight: bold;
	font-size: 25px;
	color: var(--black);
  text-decoration: none;
}

.logo span{
	color: var(--main);
}

.nav{
	float: right;
}

.nav li{
	list-style: none;
	float: left;
	padding: 3px 20px;
}

.nav li a{
	text-decoration: none;
	color: var(--black);
}

.nav li button{
  padding: 7px 15px;
  background: var(--main);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -5px;
}

.menuItem {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16x;
  text-decoration: none;
}

.menuItem-selected a{
  font-weight: 600;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.banner-section{
	background: var(--main);
	overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-content {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.heading{
	color: var(--white);
  font-size: 40px;
  letter-spacing: 1px;
}

.banner-heading{
  color: var(--white);
  font-size: 40px;
  letter-spacing: 1px;
}

.details p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;
  font-style: italic;
  margin: 10px;
}

.p1{
  color: white;
  width: 395px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 20px;
}

.input-box{
  width: 360px;
  border-radius: 50%;
}

.input-box input[type="text"]{
	padding: 9px;
  width: 265px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.input-box button{
	padding: 10px 27px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  margin-left: -6px;
  background: var(--darkblue);
  color: white;
  cursor: pointer;
}

.ban-img{
	width: 400px;
}

.b-img{
	width: 100%;
	border-radius: 10px;
}

.heading1{
	margin-top: 20px;
	color: var(--main);
	font-size: 14px;
	text-transform: uppercase;
}

.blog-heading{
	font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--black);
}

.text{
	  font-size: 13px;
    letter-spacing: 1px;
    color: var(--black);
    margin-bottom: 20px;
}

.name{
	text-transform: uppercase;
    font-weight: 600;
    color: #a1a1a1;
    font-size: 14px;
}

.lr-box{
	padding: 10px 20px;
}

.b-img-1{
	width: 100%;
	height: 200px;
	border-radius: 10px;
	margin-top: 7px;
}

.blog-heading-1{
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--black);
}

.line{
	    width: 100%;
	    margin-top: 15px;
    border: none;
    height: 1px;
    background: #ddd;
}

.lr-box:hover{
	opacity: 0.5;
	cursor: pointer;
}

.box-1:hover{
	opacity: 0.5;
	cursor: pointer;
}

.box-1{
  display: flex;
  flex-direction: column;
}

.box-2{
	width: 28.5%;
	float: left;
	margin: 25px;
}

.box-2:hover{
	opacity: 0.5;
	cursor: pointer;
}

.foot-section{
	background: var(--main);
}

.foot-inner{
	width: 500px;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
}

.ibox2{
	margin: 0 auto;
	width: 380px;
}

footer{
	background:var(--darkblue);
	padding: 15px;
}

footer p{
	color: var(--white);
	text-align: center;
}

.product-image{ 
    min-height: 250px;
}

.background-image{
    min-height: 250px;
}

* {box-sizing:border-box}


.homepage-blogs{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  gap: 20px;
}

.bloglist-post {
  flex: 0 0 20%;
}

.blog-list {
  display: flex;
  background-color: antiquewhite;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.post img{
  height: 90%;
  width: 100%;
}

#more {display: none;} 

.contactform-container{
  background-color: antiquewhite;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.contactButton {
  background: darkred;
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-bottom: 10px;
  font-size: 20px;
}

form {
  padding: 2em;
  background: white;
  border-radius: 1rem;
}

input {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

.showMoreButton {
  background: darkred;
  border: none;
  width: 250px;
  padding: 1rem;
  color: white;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-bottom: 70px;
  font-size: 30px;
}

.showMoreButton:hover {
  background: #A5232C;
}

.titleBackground {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.blogListTitle{
  font-size: 40px;
  color: #A5232C;
  padding-bottom: 15px;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

label {
  font-size: 20px;
  display: block;
  margin-top: 1rem;
}

.detailContainer {
  background-color: antiquewhite;
}

.detail-h1 {
  color: #A5232C;
  text-align: center;
  margin-bottom: 20px;
}

.about{
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.about .about-content img{
  height: auto;
  width: 600px;
  max-width: 100%;
}

.about-text{
  max-width: 50%;
  padding: 0 10px;
}

.about-content{
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.about-text h1{
  color: dimgray;
  font-size: 85px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.about-text h5{
  color: dimgray;
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p{
  color: #060606;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
}

.about-button {
  background-color: #ffcc74;
  color: black;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
}

.about-button:hover{
  transform: scale(1.2);
  background-color: transparent;
  border: 2px solid #ffcc74;
  color: dimgray;
  transition: .4s;
  cursor: pointer;
}

.detailContainer img{
  width: 20%;
  height: 15%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

.details h1 {
  color: #A5232C;
  margin-bottom: 30px;
}

.bloglist-post a {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
}

.bloglist-post a:hover {
  color: #A5232C
}

.postdate a{
  color: red;
}

.slideshow-container {
  max-width: 350px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: white;
  font-size: 20px;
  padding: 6px 10px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.buttonBackground {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

#date{
  font-style:italic;
  color:#A5232C
}


.section-blogpost .form-input-container {
  display: block;
}
.section-blogpost .form-input-container input {
  margin-bottom: 1rem;
}

.section-blogpost form {
  max-width: 100%;
  grid-column: 2/3;
  grid-row: 1;
  margin: 0;
}
.section-blogpost .post-text {
  grid-column: 1/-1;
  max-width: 80rem;
  margin: 0 auto;
}

.section-blogpost .blog-post-img {
  height: 100%;
  cursor: pointer;
}

 #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: grid;
  background: #e8d6cba7;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  pointer-events: none;
}

#modalImg {
  max-width: 500px;
  min-width: 500px;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

.featuredPosts {
  margin-bottom: 20px;
  color: #A5232C;
}

.slideshow-background {
  background-color: antiquewhite;
}


@media screen and (max-width: 1200px) {
  .about{
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }

  .banner-section{
  
    flex-direction: column;
  }

  .banner-content {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .about .about-content img{
    margin-bottom: 35px;
  }

  .blog-list{
    display: flex;
    flex-direction: column;

  }

}

@media screen and (max-width: 500px) {
  .about{
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }
}